:root{
    --VDGblue: hsl(217, 19%, 35%);
    --DDblue: hsl(214, 17%, 51%);
    --Gblue: hsl(212, 23%, 69%);
    --LGblue: hsl(210, 46%, 95%);
}

.manrope{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background-color: var(--LGblue);
    display: flex;
    flex-direction: column;
}

#component{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#main{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    flex-basis: 60%;
    border-radius: 15px;
    background-color: white;
}

#main-img{
    height: 100%;
    width: auto;
    max-width: 40%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    flex-shrink: 0;
    display: block;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    color: var(--VDGblue);
    min-width: 0;
    box-sizing: border-box;
}

h3{
    font-weight: 700;
}

p{
    font-weight: 500;
}

#user{
    display: flex;
    flex-direction: row;
}

#avatar{
    border-radius: 50%;
    height: 45px;
    padding-right: 10px;
}

#user-info{
    flex-grow: 1;
    flex-shrink: 5;
}

#user-name{
    font-weight: 700;
    align-self: flex-start;
}

#date{
    font-weight: 500;
    align-self: flex-end;
}

button{
    background-color: var(--LGblue);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: var(--DDblue);
    height: 45px;
    width: 45px;
}

.tooltip-box{
    color: var(--Gblue);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--VDGblue);
    border: none;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    z-index: 1000;
}

.tooltip-box::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: var(--VDGblue) transparent transparent transparent;
}

@media (max-width: 768px){

    #component{
        width: 100%;
        height: 100%;
    }

    #main{
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-basis: auto;
    }

    #main-img{
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 15px 15px 0 0;
        display: block;
        object-fit: cover;
    }
}